import { React } from 'react'
import %NameUpperCamelCase%Presenter from './%NameLowerCamelCase%Presenter';

const %NameUpperCamelCase% = props => {
  return (
    <%NameUpperCamelCase%Presenter />
  )
};

export default %NameUpperCamelCase%
