import { React } from 'react'
import %NameUpperCamel%Presenter from './%NameLowerCamel%Presenter';


const %NameUpperCamel% = props => {
  return (
    < %NameUpperCamel%Presenter />
  )
};

export default %NameUpperCamel%
